<h3>You are in <%= room.name %> room</h3>

<div class="msg-container" id="chat-msg-container">
	<!-- <div class="msg msg-right">
		<div class="msg-username">Username One</div>
		<div class="msg-text">Some text</div>
	</div>
	<div class="msg-alert">
		<div class="msg-text">This is alert message</div>
	</div>
	<div class="msg msg-left">
		<div class="msg-username">Username Two</div>
		<div class="msg-text">Some other text</div>
	</div> -->
</div>

<form id="chat" autocomplete="off">
	<div class="row">
		<div class="input-field col s10">
			<input type="text" id="msgInput" placeholder="Type here..." />
		</div>
		<div>
			<button class="btn waves-effect blue waves-light" type="submit" name="action">Send<i class="material-icons right">send</i></button>
		</div>
	</div>
</form>

<script src="/socket.io/socket.io.js"></script>
<script>
	const socket = io('/chat/room').connect('http://localhost:3000');
	const form = document.getElementById('chat');
	const msgInput = document.getElementById('msgInput');
	const msgContainer = document.getElementById('chat-msg-container');

	const roomId = `<%- room.id %>`;
	const userId = `<%- user.id%>`;
	const username = `<%- user.username%>`;
	const user = { id: userId, username };

	let lastUserMessage = '';

	socket.emit('user:connecting', { user, roomId });

	socket.on('user:connected', (data) => {
		const newUser = data.user;
		const alertMessage = userId === newUser.id ? `You are now connected` : `${newUser.username} are now connected`;
		msgContainer.innerHTML += createAlertMsg(alertMessage);
	});

	socket.on('user:disconnected', (data) => {
		const disconnectedUser = data.user;
		msgContainer.innerHTML += createAlertMsg(`${disconnectedUser.username} left the chat`);
	});

	form.addEventListener('submit', (e) => {
		e.preventDefault();
		const msgText = msgInput.value;
		if (msgText.length === 0) return;
		const msg = {
			msgText,
			user,
			roomId,
		};
		socket.emit('msg:send', msg);
	});

	socket.on('msg:received', (msg) => {
		msgInput.value = '';
		msgInput.select();
		msgContainer.innerHTML += createMsg(msg);
		lastUserMessage = msg.user.id;
	});

	function createMsg(msg) {
		const messageAlignClass = msg.user.id === userId ? 'msg-right' : 'msg-left';
		const usernameField = lastUserMessage === msg.user.id ? '' : `<div class="msg-username">${msg.user.username}</div>`;
		return `
		<div class="msg ${messageAlignClass}">
			${usernameField}
			<div class="msg-text">${msg.msgText}</div>
		</div>`;
	}

	function createAlertMsg(msg) {
		return `
		<div class="msg-alert">
			<div class="msg-text">${msg}</div>
		</div>`;
	}
</script>
