<nav>
	<div class="nav-wrapper green">
		<div class="container">
			<a href="/" class="brand-logo">
				Chat App
			</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li>
					<a href="/chat">Chat</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
