.msg-container {
	display: flex;
	flex-direction: column;
	width: 80%;
	margin: 0 auto;
}

.msg {
	margin-bottom: 3px;
	padding: 5px 15px;
	border-radius: 10px;
	color: white;
}

.msg-username {
	font-weight: bold;
	color: #f1c40f;
	margin-bottom: 5px;
}

.msg-text {
	margin-bottom: 5px;
}

.msg-right {
	align-self: flex-end;
	background-color: #34495e;
}

.msg-left {
	align-self: flex-start;
	background-color: #2c3e50;
}

.msg-right > .msg-username,
.msg-right > .msg-text {
	text-align: right;
}

.msg-left > .msg-username,
.msg-left > .msg-text {
	text-align: left;
}

.msg-alert {
	align-self: center;
	margin-bottom: 3px;
	padding: 5px 15px;
	border-radius: 15px;
	font-weight: bold;
	color: white;
	background-color: #34495e;
}
